# Borra el contenido actual y escribe el nuevo
Set-Content .gitignore @"
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release

# Firebase / Google - CREDENCIALES
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart
firebase.json
**/google-services.json

# Claves y entornos
.env
.env.*
key.properties
**/*.keystore
**/*.jks
"@